*{
    box-sizing: border-box;
}

/* FontFace */

@font-face {
    font-family: Lato;
    src: url(fonts/lato.ttf);
}

/* BASIC */

body {
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
    color: #606060;
    font-size: 16px;
}
body a{
    color: #606060;
}
a{
    text-decoration: none;
}
h2{
    margin: 0 0 2rem 0;
    font-size: 1.75rem;
    text-transform: uppercase;
}
p{
    margin: 0 0 1.4rem;
}
button{
    cursor: pointer;
    outline: 0;
}

/* Layout */

.container {
    max-width: 980px;
    margin: 0 auto;
}

/* Header */

.header {
    background-color: #292929;
    height: 130px;
    border-bottom: 5px solid #1d1d1d;
}
.header-main {
    height: inherit;
}
.header-main-logo{
    align-self: center;
}
.navigation li {
    cursor: pointer;
}
.navigation li a {
    color: #fff;
    font-weight: 600;
}

/* Card */

.card-info-btn {
    align-self: flex-start;
    font-size: 1em;
    border: 2px solid #c2c2c2;
    border-radius: 30px;
    padding: 0.625em 1.562em;
    color: #c2c2c2;
    font-weight: 600;
    background-color: transparent;
    transition: padding .3s; 
}
.card-info-btn:hover{
    position: relative;
    border-color: #58c93a;
    color: #58c93a;
    padding-inline-end: 3em;
}
.card-info-btn:hover::after{
    content: "→";
    position: absolute;
    right: 1em;
}
.card-info p:last-of-type{
    flex: 1;
}
.card-img {
    object-fit: cover;
}

/* Pagination */

.pagintaion{
    padding: 20px;
    border-top: 1px solid #e1e0e0;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 600;
}
.pagintaion a{
    color: #818181;
}

/* Footer */

.footer {
    padding: 60px 0;
    background-color: #f8f8f8;
    color: #a6a6a6;
}
.footer-main{
    text-align: center;
}
.footer small{
    margin: 30px 0;
    display: block;
}
.socials li{
    margin: 0 10px;
    display: inline-block;
    background-color: #e5e5e5;
    transition: all .2s ease-in-out;
}
.socials a{
    color: #fff;
    height: 40px;
    width: 40px;
}
.socials-facebook-icon:hover{
    background-color: #516fad;
}
.socials-twitter-icon:hover{
    background-color: #2babe3;
}
.socials-dribbble-icon:hover{
    background-color: #f26798;
}
.socials-behance-icon:hover{
    background-color: #0056ff;
}

/* Helpers */
.clean-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.center{
    justify-content: center;
    align-items: center;
}
.column{
    flex-direction: column;
}

@media (min-width: 741px){
    .card {
        padding-bottom: 80px;
    }
    .card:first-child {
        padding-top: 80px;
    }
    .card-info{
        padding: 0 20px 0 40px;
    }
    .card-img {
        width: 50%;
    }
    .main{
        border: 1px solid #e1e0e0;
        border-top: 0;
    }
    .navigation li:last-child{
        border-right: 1px solid #1d1d1d;
    }
    .navigation li.active{
        box-shadow: inset 0 -6px 0 #58c93a;
    }
    .navigation li.active a{
        color: #58c93a;
    }
    .navigation li {
        width: 130px;
        border-left: 1px solid #1d1d1d;
    }
    .navigation-btn{
        display: none;
    }
}

@media (max-width: 860px){
    body{
        font-size: 14px;
    }
    .container {
        max-width: 700px;
    }
}

@media (max-width: 740px){
    .header{
        height: 70px;
        padding: 0 1rem;
    }
    .card{
        margin: 2rem 1rem;
        padding: 1rem;
        box-shadow: 0px 0px 4px #000;
        flex-direction: column;
    }
    .card-info h2{
        margin: 1rem 0;
        font-size: 1.3rem;
    }
    .card-info-btn{
        align-self: center;
    }
    .card-img{
        width: 100%;
    }
    .navigation{
        width: 250px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        flex-direction: column;
        justify-content: start;
        background-color: rgba(250,250,250,0.9);
        z-index: 2;
        transform: translateX(100%);
        transition: transform .8s;
    }
    .navigation li{
        padding: 1.6rem;
        border-bottom: 1px solid #e1e0e0;
    }
    .navigation li a{
        color: #1d1d1d;
    }
    .navigation-btn{
        align-self: center;
        z-index: 2;
    }
    body.navigation-open .navigation{
        transform: translateX(0);
    }
}